<app-user></app-user>
<div>
    <input type="number" [value]="maxValue" (change)="onChange($event.target.value)">
  <br>
  <label>Show value
      <input type="checkbox" [checked]="showValue" (change)="showValue = $event.target.checked">
  </label>
  <app-rating-bar [max]="maxValue" [showRatingValue]="showValue"></app-rating-bar>
  <app-cgv></app-cgv>
</div>

<div class="checkbox" tabindex="0" (click)="toggleChecked()" [ngClass]="bindingClasses">
  <span *ngIf="checked; else uncheck" class="fa fa-check" aria-hidden="true"></span>
</div>
<ng-template #uncheck>
  <span class="fa fa-times" aria-hidden="true"></span>
</ng-template>
